<ion-content [fullscreen]="true">
  <br>
  <ion-toolbar  color="dark" class=" py-2">
    <br>
    <h1 class="ms-2 ms-md-5 mb-0 titulo"><b> Comentario </b></h1>
    <hr class="palito ms-2 ms-md-5 mt-0 mb-3">
  </ion-toolbar>
  <div class=" px-3">
    <div class="container">
    
      <div class="d-flex mt-1">
        <ion-searchbar class="ms-auto me-3 my-0 w-100" placeholder="Buscar Slider" inputmode="text" type="text" [debounce]="250" ></ion-searchbar>
      </div>
      <table class="table mt-0">
        <thead class="red">
          <tr>
            <th scope="col" class="red d-none d-md-block">Foto</th>
            <th scope="col" class="red">Persona</th>
            <th scope="col" class="red">Calificación</th>
            <th scope="col" class="red">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of sliders; let ind = index">
            <th scope="row" class="text-center d-none d-md-block"><ion-img [src]="uri + item.imagen" class="img-fluid"></ion-img></th>
            <td>{{item.persona}}</td>
            <td>
              <ion-icon color="primary"  [name]="item.puntuacion >= 1 ? 'star' :'star-outline'"></ion-icon>
              <ion-icon color="primary"  [name]="item.puntuacion >= 2 ? 'star' :'star-outline'"></ion-icon>
              <ion-icon color="primary"  [name]="item.puntuacion >= 3 ? 'star' :'star-outline'"></ion-icon>
              <ion-icon color="primary"  [name]="item.puntuacion >= 4 ? 'star' :'star-outline'"></ion-icon>
              <ion-icon color="primary"  [name]="item.puntuacion >= 5 ? 'star' :'star-outline'"></ion-icon>
      
            </td>
            <td>
              <ion-buttons color="primary" slot="start">
                <ion-button color="primary" routerLink="/dashboard/website/comentarios/{{item.id}}">
                  <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-button>
                <ion-button color="primary" (click)="deleteSlider(item.id)">
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>
