<ion-content [fullscreen]="true">
  <br>
  <ion-toolbar  color="dark" class=" py-2">
    <br>
    <h1 class="ms-2 ms-md-5 mb-0 titulo"><b> {{editar ? 'Editar' : 'Crear'}} Comentario</b></h1>
    <hr class="palito ms-2 ms-md-5 mt-0 mb-3">
  </ion-toolbar>

  <div class="container px-5">
    <form [formGroup]="sliderForm">
      <ion-item lines="none">
        <ion-button (click)="addImage()" slot="start" shape="round">
          Subir Fotografía
        </ion-button>
  
        <ion-avatar slot="end" style="height: 150px; width: 150px;">
          <ion-img [src]="image"  ></ion-img>
        </ion-avatar>
      </ion-item>
      <ion-input type="text" class="my-2 border" label="Nombre de la persona" labelPlacement="floating" formControlName="persona" ></ion-input>
      
      <ion-input type="text" class="my-2 border" label="Nombre de la empresa" labelPlacement="floating" formControlName="empresa" ></ion-input>
      
      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [toolbar]="toolbar" [editor]="editor"> </ngx-editor-menu>
        <ngx-editor  [editor]="editor"  formControlName="texto" [placeholder]="'Descripción del evento'"></ngx-editor>
      </div>

      <ion-item>
        <ion-label>Calificación</ion-label>

        <ion-icon color="primary" (click)="calificar(1)" slot="end" [name]="this.sliderForm.controls['puntuacion'].value >= 1 ? 'star' :'star-outline'"></ion-icon>
        <ion-icon color="primary" (click)="calificar(2)" slot="end" [name]="this.sliderForm.controls['puntuacion'].value >= 2 ? 'star' :'star-outline'"></ion-icon>
        <ion-icon color="primary" (click)="calificar(3)" slot="end" [name]="this.sliderForm.controls['puntuacion'].value >= 3 ? 'star' :'star-outline'"></ion-icon>
        <ion-icon color="primary" (click)="calificar(4)" slot="end" [name]="this.sliderForm.controls['puntuacion'].value >= 4 ? 'star' :'star-outline'"></ion-icon>
        <ion-icon color="primary" (click)="calificar(5)" slot="end" [name]="this.sliderForm.controls['puntuacion'].value >= 5 ? 'star' :'star-outline'"></ion-icon>
      </ion-item>

      <ion-button [disabled]="!image" (click)="save()" expand="block"  shape="round">
        {{editar ? 'Guardar Cambios': 'Crear Comentario'}}
      </ion-button>
    </form>
       
  </div>


</ion-content>