.logo{
    width:150px;
}
ion-split-pane {
    --side-min-width: 00px;
    --side-width: 250px;
    --side-max-width: 400px;
  }
  ion-item.item:hover a {
    background-color: red!important;
  }



.img{
  background-color: #FB041C
}