<ion-header >
  <ion-toolbar color="primary">
    <ion-img slot="start" src="../../../assets/logo.png" class="logo ms-md-4 "></ion-img>
    <ion-item color="primary" lines="none" class="me-3" slot="end" id="hover-trigger" *ngIf="user">
      <ion-label class="d-none d-md-block">Hola {{user.names}}</ion-label>
      <ion-avatar  slot="end" class="ms-2 d-flex">
        <img [src]=" (!user.gravatar ? uri : '') + (user.foto ?? 'avatar.jpg') " />
      </ion-avatar>
      <ion-popover trigger="hover-trigger" triggerAction="hover">
        <ng-template>
          <ion-content color="tertiary" class="ion-padding">
            <ion-item class="d-block d-md-none">
              <ion-label>Hola {{user.names}}</ion-label>
            </ion-item>
            <menu-item class="shadow-lg" [color]="'tertiary'" *ngFor="let item of menuAvatar" [item]="item" [lines]="''" ></menu-item>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-item>
  
    <ion-buttons slot="end">
      <ion-menu-button menu="menu" ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-split-pane when="md" contentId="main" color="primary">
    <ion-menu contentId="main" menuId="menu">
      <ion-item lines="none" color="primary" class="mt-4">
      
      </ion-item>
      <ion-content class="ion-padding-vertical" color="primary">
          <menu-item  [color]="'primary'" *ngFor="let item of menu" [item]="item" ></menu-item>
      </ion-content>
    </ion-menu>
  
    <div class="ion-page" id="main">
    
      <ion-router-outlet class="mt-3"></ion-router-outlet>
    </div>
  </ion-split-pane>
</ion-content>
